Repository accraze/python-twelve-tone, pull requests merged in 2018-10, with the labels that each got.

#12 Add --midi option to CLI
  src/twelve_tone/cli.py
Labels: cli, enhancement, hacktoberfest, midi

#14 Closes #9
  src/twelve_tone/cli.py
Labels: cli, enhancement, hacktoberfest

#17 Fix cli params and dupe main fn
  src/twelve_tone/cli.py
Labels: bug, cli
